<!-- <app-forms></app-forms> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-display></app-display> -->
<a type="submit" [routerLink]="['/react']" routerLinkActive="router-link-active" class="btn btn-primary mt-5 ml-5">Reactive Form</a>
<a type="submit" [routerLink]="['/reacts']" routerLinkActive="router-link-active" class="btn btn-primary mt-5 ml-5">Template-Driven Form</a> 
<a type="submit" [routerLink]="['/reactx']" routerLinkActive="router-link-active" class="btn btn-primary mt-5 ml-5">display</a>
<app-display></app-display>
<router-outlet></router-outlet>